@media screen and (min-width:576px) {   

   }

.Container{
   height: auto;
   position: relative;
   border-radius: 15px;
   background-color:#ef4056 ;
}

// .second-image{
//     width: 50px;
// }
