@media screen and (min-width:576px) {    
    .ContentForIcons{
        font-size: 1rem;
    }
}
.ContainerForIcons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px 10px 0px;
}

.Icons img{
    width:50px; 
}

// .ContentForIcons{
//     font-size: 1.1rem;
// }