.ContainerForThisRedux{
    box-sizing: border-box;
    background-image: url(https://www.digikala.com/statics/img/svg/typography/freshPattern.svg);
    background-repeat: no-repeat;
    height: auto;
    line-height: 100px;
    position: relative;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba($color: #cbf5d6, $alpha: 1.0);
}